<div class="max-w-4xl flex items-center h-auto flex-wrap mx-auto my-16 lg:my-0 h-screen">

  <!--Main Col-->
  <div id="profile" class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-gray-900 opacity-75 mx-6 lg:mx-0">


    <div class="p-4 md:p-12 text-center lg:text-left">
      <!-- Image for mobile view-->
      <div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center" style="background-image: url('../../../assets/images/women-profile.jfif')"></div>

      <h1 class="text-3xl font-bold pt-8 lg:pt-0 pb-3">Nombres</h1>
      <input class="mx-auto lg:mx-0 w-4/5" placeholder="Ej: Juan Alberto" [(ngModel)]="nombres" (change)="validacion('Nombre', 'nombres')"/>
      <div class="mx-auto lg:mx-0 w-4/5 border-b-2 border-teal-500 opacity-25 mb-8"></div>
      <h1 class="text-3xl font-bold pt-8 lg:pt-0 pb-3">Apellidos</h1>
      <input class="mx-auto lg:mx-0 w-4/5" placeholder="Ej: Araya Rivera" [(ngModel)]="apellidos" (change)="validacion('Apellido',  'apellidos')" #input/>
      <div class="mx-auto lg:mx-0 w-4/5 border-b-2 border-teal-500 opacity-25 mb-8"></div>
      <h1 class="text-3xl font-bold pt-8 lg:pt-0 pb-3">Fecha Nacimiento</h1>
      <input class="mx-auto lg:mx-0 w-4/5" placeholder="Ej: 20-12-1990" [(ngModel)]="fechaNacimiento" (keyup)="keyUp.next({tipo: 'Fecha', nombreCampo: 'fechaNacimiento'})" #input/>
      <div class="mx-auto lg:mx-0 w-4/5 border-b-2 border-teal-500 opacity-25 mb-8"></div>
      <div class="mt-10 w-4/5 flex flex-col mx-auto lg:mx-0">
        <button id="enviarPoema" class="px-4 py-1 text-white font-light tracking-wider
                    bg-white bg-opacity-25 rounded self-center" (click)="enviarFormulario()"
        *ngIf="camposValidos">
          Enviar
        </button>
      </div>
      <!-- Use https://simpleicons.org/ to find the svg for your preferred product -->

    </div>

  </div>

  <!--Img Col-->
  <div class="w-full lg:w-2/5">
    <!-- Big profile image for side bar (desktop) -->
    <img src="../../../assets/images/women-profile.jfif" class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block">
    <!-- Image from: http://unsplash.com/photos/MP0IUfwrn0A -->

  </div>


  <!-- Pin to top right corner -->
  <div class="absolute top-0 right-0 h-12 w-18 p-4">
    <button class="js-change-theme focus:outline-none" (click)="cambiarModo()">🌙</button>
  </div>

</div>
<ngx-loading [show]="loading" [config]="{backdropBorderRadius: '3px'}" ></ngx-loading>

<!--<script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<script>
  //Init tooltips
  tippy('.link',{
    placement: 'bottom'
  })

  //Toggle mode
  const toggle = document.querySelector('.js-change-theme');
  const body = document.querySelector('body');
  const profile = document.getElementById('profile');


  toggle.addEventListener('click', () => {

    if (body.classList.contains('text-gray-900')) {
      toggle.innerHTML = "☀️";
      body.classList.remove('text-gray-900');
      body.classList.add('text-gray-100');
      profile.classList.remove('bg-white');
      profile.classList.add('bg-gray-900');
    } else
    {
      toggle.innerHTML = "🌙";
      body.classList.remove('text-gray-100');
      body.classList.add('text-gray-900');
      profile.classList.remove('bg-gray-900');
      profile.classList.add('bg-white');

    }
  });

</script>-->
